.main-container {
    background-color: #ffffff;
    width: 68%;
    margin: 100px auto 0px auto;
}

.main-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}

.main-pretitle {
    background-color: #ffe6e6;
    color: #ff2626;
    font-size: 14px;
    display: flex;
    width: 50%;
    justify-content: center;
    font-weight: 500;
    padding: 10px 10px;
    border-radius: 99px;
}

.main-title-text {
    margin: 30px 0px 0px 0px;
}

.main-title {
    font-size: 65px;
    font-weight: 700;
}

.margin {
    margin: -10px 0px 0px 0px;
}

.main-title-color {
    color: #ff2626;
}

.main-subtitle-text {
    margin: 20px 0px 0px 0px;
}

.main-subtitle {
    color: #6f6f6f;
    font-size: 14px;
}

.main-contact {
    margin: 30px 0px 0px 0px;
}

.main-contact-button {
    background-color: #ff2626;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 99px;
    padding: 16px 32px;
    font-size: 14px;
    font-weight: 700;
}
.main-contact-button:hover{
    background-color: #ff5500;
}
.main-image-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-image{
    width: 100%;
    height: 100%;
}

.hire-us-textbox {
    margin: 120px 0px 0px 0px;
}

.hire-us-text {
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-weight: 700;
}

.hire-us-options {
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: center;
    gap: 4vw;
    flex-wrap: wrap;
}

.hire-us-option-list {
    background-color: #ffffff;
    width: 18vw;
    border-radius: 34px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hire-us-option-icon {
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}

.hire-us-option-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}

.hire-us-option-content {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 30px 0px 50px 0px;
}

.why-us-textbox {
    margin: 70px 0px 0px 0px;
}

.why-us-title {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
}

.why-us-descbox {
    margin: 30px 0px 0px 0px;
}

.why-us-desc {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.why-us-captionbox {
    margin: 20px 0px 0px 0px;
}

.why-us-caption {
    font-size: 14px;
    text-align: center;
    color: #6f6f6f;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

@media (max-width: 575.98px) {
    .main-container {
        margin: 50px auto 0px auto;
    }

    .main-pretitle {
        font-size: 12px;
        padding: 12px;
        border-radius: 20px;
        width: 90%;
    }

    .main-title {
        font-size: 36px;
    }

    .main-subtitle {
        font-size: 12px;
    }

    .main-contact-button {
        padding: 12px 24px;
        font-size: 12px;
    }

    .hire-us-text {
        font-size: 24px;
    }

    .hire-us-option-list {
        width: 75%;
        margin: 20px 0;
    }

    .hire-us-option-title {
        font-size: 24px;
    }

    .hire-us-option-content {
        font-size: 12px;
    }
    .why-us-title {
        font-size: 24px;
    }
    .why-us-captionbox, .why-us-descbox{
        width: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .why-us-desc {
        font-size: 14px;
    }

    .why-us-caption {
        font-size: 12px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .main-container {
        margin: 50px auto 0px auto;
    }

    .main-pretitle {
        font-size: 12px;
        padding: 12px;
        border-radius: 30px;
        width: 75%;
    }

    .main-title {
        font-size: 40px;
    }

    .main-subtitle {
        font-size: 12px;
    }

    .main-contact-button {
        padding: 14px 28px;
        font-size: 12px;
    }

    .hire-us-text {
        font-size: 28px;
    }

    .hire-us-option-list {
        width: 65%;
        margin: 20px 0;
    }

    .hire-us-option-title {
        font-size: 28px;
    }

    .hire-us-option-content {
        font-size: 12px;
    }
    .why-us-captionbox, .why-us-descbox{
        width: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .why-us-title {
        font-size: 28px;
    }

    .why-us-desc {
        font-size: 14px;
    }

    .why-us-caption {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .main-pretitle {
        font-size: 14px;
        padding: 14px;
        border-radius: 40px;
        width: 65%;
    }

    .main-title {
        font-size: 48px;
    }

    .main-subtitle {
        font-size: 14px;
    }

    .main-contact-button {
        padding: 16px 32px;
        font-size: 14px;
    }

    .hire-us-text {
        font-size: 32px;
    }


    .hire-us-option-list {
        width: 55%;
    }

    .hire-us-option-title {
        font-size: 32px;
    }

    .hire-us-option-content {
        font-size: 14px;
    }

    .why-us-title {
        font-size: 32px;
    }
    .why-us-captionbox, .why-us-descbox{
        width: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .why-us-desc {
        font-size: 14px;
    }

    .why-us-caption {
        font-size: 14px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .main-pretitle {
        font-size: 16px;
        padding: 16px;
        border-radius: 50px;
        width: 55%;
    }

    .main-title {
        font-size: 56px;
        color: #ff2626;
    }

    .main-subtitle {
        font-size: 16px;
    }

    .main-contact-button {
        padding: 18px 36px;
        font-size: 16px;
    }

    .hire-us-text {
        font-size: 36px;
    }

    .hire-us-option-list {
        width: 45%;
    }

    .hire-us-option-title {
        font-size: 36px;
    }

    .hire-us-option-content {
        font-size: 14px;
    }

    .why-us-title {
        font-size: 36px;
    }
    .why-us-captionbox, .why-us-descbox{
        width: 80%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .why-us-desc {
        font-size: 14px;
    }

    .why-us-caption {
        font-size: 14px;
    }
}

@media (min-width: 1200px){
    .main-contents {
        display: flex;
        flex-wrap: unset;
        justify-content: center;
        gap: 5vw;
    }
    .main-pretitle {
        font-size: 18px;
        padding: 18px;
        border-radius: 60px;
    }
    .main-title {
        font-size: 65px;
    }

    .main-subtitle {
        font-size: 16px;
    }

    .main-contact-button {
        padding: 20px 40px;
        font-size: 16px;
    }
    .hire-us-text {
        font-size: 42px;
    }

    .hire-us-option-list {
        width: 35%;
    }

    .hire-us-option-title {
        font-size: 32px;
    }

    .hire-us-option-content {
        font-size: 14px;
    }

    .why-us-title {
        font-size: 42px;
    }
    .why-us-captionbox, .why-us-descbox{
        width: 70%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .why-us-desc {
        font-size: 16px;
    }

    .why-us-caption {
        font-size: 14px;
    }
}
@media (min-width: 1200px) and (max-width: 1563.98px) {
    .main-image-box{
        margin: 50px 0px 0px 0px;
        width: 100%;
        display: block;
    }
    .main-image{
        width: 120%;
        height: 120%;
    }
}
@media (min-width: 1564px){
    .main-image-box{
        margin: 0px 0px 0px 0px;
        width: 100%;
        display: block;
    }
    .main-image{
        width: 100%;
        height: 100%;
    }
}
